.static-tag-chips-container {
	display: flex;
	gap: var(--size-4-2);
	width: var(--file-line-width);
	max-width: 100%;
	flex-wrap: wrap;
	margin: auto;
}
.viewer-ftags-custom-tree-item {
	margin-inline-start: 0px !important;
	padding-inline-start: var(--size-4-6) !important;
}
.viewer-ftags-custom-setting-el {
	padding-top: var(--size-4-2) !important;
	padding-bottom: 0 !important;
}
.static-tag-chips-container-outer,
.ftags-children-outer {
	padding: 0 var(--file-margins);
}
.viewer-ftag-tag-chip-layer-first {
	opacity: 1;
}
.viewer-ftag-tag-chip-layer-second {
	opacity: 0.8;
}
.viewer-ftag-tag-chip-layer-third {
	opacity: 0.6;
}
.viewer-ftag-tag-chip-layer-fourth {
	opacity: 0.3;
}
/* patch vanilla */
.view-header {
	flex-shrink: 0;
}
.ftags-children {
	display: flex;
	gap: var(--size-4-2);
	width: var(--file-line-width);
	max-width: 100%;
	flex-wrap: wrap;
	margin: auto;
	padding: var(--size-4-2) 0;
}

.ftags-children *,
.static-tag-chips-container > * {
	cursor: pointer !important;
}

.static-tag-chips-container > * {
	display: flex;
}

.static-tag-chips-container > * > span:hover {
	opacity: 0.8;
}
.static-tag-chips-container > * > span {
	height: 18px;
	width: 18px;
	margin-left: var(--size-2-2);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1000px;
	background: var(--tag-background);
}
.static-tag-chips-container > * > span > svg {
	height: 14px;
	width: 14px;
}

.ftags-children > *:hover {
	opacity: 0.9;
}
